<!-- Generated template for the QuickGameComponent component -->
<div class="row" *ngFor="let data of mydata">
<!-- <div class="col">
    <button ion-button color="secondary" outline>{{data.number1}}</button>
</div>
<div class="col">
    <button ion-button color="secondary" outline>{{data.math}}</button>
</div>
<div class="col">
    <button ion-button color="secondary" outline>{{data.number2}}</button>
</div>
<div class="col">
  <h4>=</h4>
</div> -->




  <div class="col">{{data.number1}}</div>
  <div class="col">{{data.number1}}</div>
  <div class="col">{{data.code}}</div>          
</div>
